
<!DOCTYPE html>
<html>
<head>

    <%- include('includes/header')-%>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <%- include('includes/navbar')-%>
    <%- include('includes/sidebar')-%>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="text-success">
                        Welcome to Oxyengines Admin Panel
                    </h1>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <%- include('includes/footer')-%>

</div>
<!-- ./wrapper -->


<%- include('includes/scripts')-%>
</body>
</html>
